<div
  class="card px-5 py-4 h-full min-h-[calc(100vh-64px)] shadow-md bg-[#0f172a] text-white"
>
  <h3 class="text-white text-lg font-bold uppercase tracking-wider mb-4">
    Dashboard
  </h3>
  <hr class="mb-4 border-white/20" />

  <ul class="space-y-1">
    <li *ngFor="let link of links">
      <a
        class="flex items-center px-4 py-3 rounded-lg transition-all duration-200 hover:bg-[#1e2a3b] text-white gap-3"
        [routerLink]="link.path"
        routerLinkActive="bg-[#273649] font-semibold"
      >
        <fa-icon [icon]="link.icon" class="text-xl"></fa-icon>
        <span>{{ link.label }}</span>
      </a>
    </li>
  </ul>
</div>
